body {
  background-color: rgba(39, 97, 184, 0.573);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

f1 {
  font-size: 30px;
  color: rgb(3, 5, 1);
}

h1 {
  font-size: 40px;
}

nav ul li a:hover {
  color: black;
  font-size: 1.3rem;
}

nav ul li a[href="/"]:hover {
  color: red;
  font-size: 1.3rem;
}

.info {
  background-color: #4865b0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(233, 233, 233, 0.929);
  max-width: 600px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.btn {
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(154, 154, 154);
  color: black;
  margin: 20px auto;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 8px rgb(7, 7, 7);
}

.btn:hover {
  background-color: rgb(255, 255, 255);
}

#openGmailBtn {
  display: inline-block;
  margin: 20px auto;
  font-weight: bold;
}

.hd {
  font-weight: 4000;
  font-size: 30px;
  font-style: normal;
  text-align: center;
}

p {
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}
